h1 {
    color: #3D7B80;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

p {
    color: #000;
    font-family: 'Work Sans', sans-serif;
    line-height: 16pt;
}

.conteudo {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin: auto;
}

.respiro {
    margin-bottom: 50px;
}

.conteudo a {
    font-weight: 600;
}

.aceno {
    display: block;
    font-size: 14pt;
    animation: acenar 0.8s infinite alternate;
}

@keyframes acenar {
    0% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(20deg);
    }
}