h1 {
    color: #3D7B80;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

p {
    color: #000;
    font-family: 'Work Sans', sans-serif;
}

.conteudo {
    width: 100%;
    display: flex;
    margin-top: 5pt;
    justify-content: space-evenly;
}

.layout-direita{
    width: 40%;
}

.flex-centro{
    display: flex;
    justify-content: space-evenly;
}

.colunas-2 section{
    width: 45%;
}

.respiro {
    margin-bottom: 50px;
}