.retangulo-float figure:first-child { 
    width: 220pt;
    height: 240pt;
    background-image: url('../midia/eu.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    position: relative; 
    margin: auto;
}

.retangulo-float div:last-child {
    width: 280pt;
    height: 100pt;
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    opacity: 0.8;
    margin: auto;
    margin-top: -15%;
    display: flex;
}

.retangulo figcaption {
    background-color: #fff;
    padding: 4px;
    text-align: center;
    opacity: .8;
}

.retangulo figcaption strong {
    color: #3D7B80;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}

.icones-linguagens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones-linguagens i {
    font-size: 60pt;
}

.icones-linguagens span {
    font-size: 12pt;
}

.icones-linguagens span {
    margin: 3px;
    padding: 3px;
}