.layout-topo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}

li a {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 18pt;
    padding-bottom: 5px;
}

li .selecionado {
    color: #3D7B80;
    border-bottom: 1px solid black;
    box-shadow: 0 .5px 0px #3D7B80;
    font-weight: bold;
}

li .normal {
    color: black;
}

.lista-sem-estilo {
    list-style: none;
}

.lista-horizontal li {
    float: left;
}

.lista-horizontal li:nth-child(2) a {
    padding-left: 100px;
    text-decoration: none;
}